/*
@purplePrimary: #781551;
@purpleSecondary: #661E4A;
@purpleTertiary: #5F0C3E;
@purpleQuadrinary: #AD3A80;

@brownPrimary: #984C1B;
@brownSecondary: #6D462D;
@brownTertiary: #5B2807;
@brownQaudrinary: #C27543;

@bluePrimary: #301C69;
@blueSecondary: #2E244B;
@blueTertiary: #16073F;
@blueQuadrinary: #5E45A6;
*/
/*
@purplePrimary: #781551;
@purpleSecondary: #661E4A;
@purpleTertiary: #5F0C3E;
@purpleQuadrinary: #AD3A80;

@brownPrimary: #984C1B;
@brownSecondary: #6D462D;
@brownTertiary: #5B2807;
@brownQaudrinary: #C27543;

@bluePrimary: #301C69;
@blueSecondary: #2E244B;
@blueTertiary: #16073F;
@blueQuadrinary: #5E45A6;
*/
